streamlit
tensorflow
librosa
seaborn
audiomentations
matplotlib
scikit-learn
pandas
numpy
ffmpeg-python
streamlit 
torch 
torchvision 
numpy 
pandas 
Pillow 
matplotlib 
seaborn 
scikit-learn
torchcam
opencv-python-headless
gTTS
